{% load static %}
{% block content %}
<link rel="stylesheet" href="{% static 'styles.css' %}">
<body id="bg" style="background-image: url('{ % static "images/33.jpg" %} ')";>

<div class="header-div">
    
<center>
    <p id="basetitle"><b>* Papa Johns *</b></p>
</center>
</div>

<div id="navigation">
    <p><b>Navigation:</b></p>
    <ul>
        <li><a href="{% url 'MainApp:index' %}">Home</a></li>
        <li><a href="{% url 'MainApp:pizzas' %}">Pizzas</a></li>
    </ul>
</div>

{% endblock content %}