#basetitle {
    font-size: 50;
    font-family: Georgia, 'Times New Roman', Times, serif;
}


img {
    padding: 20px;
}

#navigation {
    background-color:rgb(54, 107, 139);
    font-size:25;
    font-family:'Arial', 'Helvetica', sans-serif;
    padding-top: 5px;
    padding-bottom: 5px;
}


#homepage {
    font-size: 30;
    font-family:'Arial', 'Helvetica', sans-serif;
}

.pizzas {
    font-size: 20;
    font-family:'Arial', 'Helvetica', sans-serif;
    background-color:rgb(254, 216, 222);
    padding-top: 5px;
    padding-bottom: 5px;
}

.pizza {
    font-size: 15;
    font-family:'Arial', 'Helvetica', sans-serif;
    background-color:rgb(250, 250, 168);
    padding-top: 5px;
    padding-bottom: 5px;
}

#comment {
    font-size: 15;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    background-color:rgb(193, 252, 252);
    padding-top: 5px;
    padding-bottom: 5px;
}
/* tried uploading background image to make it look better */
#bg {
    background-size: 546px 317px;
    background-repeat: no-repeat;
    background-position: top;
    background-attachment: fixed;
}